@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic|Quando|Source+Sans+Pro:400,300,600,700,600italic,900,400italic|Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lustria);

/*UNIVERSAL*/

/*HEADER*/
#header-wrapper{z-index: 999; background:#730b0a; }
#header-details{padding: 20px 0 20px 0; }
#header-details span{display:inline; color:#fff;  font-family: 'Lustria', serif; font-size: 28px; line-height: 2; padding-left:5px; }
#header-logo{ height: auto; float: left; padding-right: 5px;}
#header-details-title{display:inline;}
#header-details-title-res{display:none;}

/*SUBHEADER*/
#sub-header-wrapper{position: relative; background: #d69402; margin-bottom: 50px; padding: 10px 0;}

/*NAVBAR*/
#navbar-wrapper{position: relative; background: #d69402; font-size:15px ; font-family: 'Oswald', sans-serif; list-style: none; margin-bottom: 50px;}
#navbar-normal{display:block;}
#navbar-res{display:none; font-size:25px;}
#navbar-maintabs li, #navbar-subtabs li{text-decoration: none; float: right; display: block; }
#navbar-maintabs li a, #navbar-subtabs li a{color:#1b1a1a; -webkit-border-bottom: 2px solid #d69402!important; border-bottom: 2px solid #d69402!important; }
#navbar-maintabs li a:visited, #navbar-subtabs li a:visited{color:#1b1a1a; background: #d69402; }
#navbar-maintabs li a:hover, #navbar-subtabs li a:hover{color:#fff; background: #730b0a; border-bottom: 2px solid #fff !important;}
#navbar-maintabs li:active, #navbar-subtabs li a:active{color:#fff; background: #730b0a; border-bottom: 2px solid #fff !important;}

/*FOOTER*/
#footer-wrapper{position:relative; background:#131313; z-index: 888; bottom:0; margin-top: 100px; padding: 25px 0; }
#footer-details {text-align: left; }
#footer-details a:hover{color:#fff;}
#footer-details span{ display:inline; font-size: 18px; font-family: 'Lustria', serif; color: #fff; line-height: 2; }
#footer-details p {color: #fff; font-size: 14px; font-family: 'Lustria', serif; font-weight: bold; }
#footer-logo{ height: auto; float: left; padding-right: 5px;}
#footer-form input, #footer-form button {border-radius: 0 !important; }
#footer-form button {background: #504d4d; color: #e1e1e1;}
/*UNIVERSAL end*/

/*LOGIN CONTENT*/
#login-body-wrapper {background: url("/resources/img/bg.jpg"); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; 
					background-size: cover; }
#login-title-wrapper{margin-top: 150px;}
#login-title-main{text-align:left;font-family: 'Vollkorn', sans-serif; color:#000;  font-size:57px; font-weight:bolder;}
#login-title-sub{text-align:left;font-family: 'Vollkorn', sans-serif; color:#000; font-size:22px;}
#login-form-wrapper {text-align:center; margin-top: 80px;}
#login-form-details {border-radius: 7px; padding: 40px; background: rgba(35, 35, 35, 0.76); transition: background 1s ease;}
#login-form-details:hover {background: rgba(35, 35, 35, 1);} 
#login-form-title{color:#fff; font-family:'Source Sans Pro', sans-serif; font-size:18px; font-weight: bold; padding-bottom:10px;}
#login-form-input {padding-bottom: 5px; padding-top: 5px; }
#login-form-input input {padding-bottom: 20px; padding-top: 20px;}
#login-form-button {margin-top: 10px;border-radius: 50%; padding:0 0; background:none; color:#B3B3B3; transition: color 1s ease;}
#login-form-button:hover {color:#fff;}
/*LOGIN CONTENT end*/

/*ARCHIVES CONTENT*/
#archives-wrapper{ margin-bottom: 200px;}
#archives-wrapper span{font-family:'Source Sans Pro', sans-serif ; font-size: 30px; font-weight: bold;}
#archives-breadcrumbs{background:none; margin-left:-20px;}
#archives-panel{background: #E2E2E2; border-radius:0; font-family: 'Source Sans Pro', sans-serif; border:none;}
#archives-panel-label{text-decoration: none; font-size:15px; font-weight: bolder;color: #333;}
#archives-panel-links a{color:#4f9fcf;}
/*ARCHIVES CONTENT end*/
	
/*SETTINGS CONTENT*/
#settings-wrapper{background: #E2E2E2; padding: 10px 0;  margin-bottom: 200px;}
#settings-title span{font-family:'Source Sans Pro', sans-serif ; font-size: 30px; font-weight: bold;}
#settings-panel{background: #E2E2E2; border-radius:0; font-family: 'Source Sans Pro', sans-serif; border:none; }
#settings-panel-details {background: #F3F3F3; border:1px solid #D0D0D0; padding: 20px 40px; }
#settings-password-form{padding-right: 10px;}
#settings-password-form-button {color:#036903; padding-top: 5px; padding-bottom: 5px; }
#settings-upload-form{padding-bottom: 10px; padding-top: 10px;}
#settings-upload-form span{font-weight: bold; padding-right: 10px}
#settings-adding-select{width:200px; margin: 5px 0;}
#settings-adding-input{width:200px; padding: 10px 0;}
#settings-grade-wrapper{padding-top: 20px; padding-bottom: 20px;}
#settings-grade-form{margin-bottom: 5px; display:block; text-align: left; padding-left:50px;}
#settings-grade-form input{background:#fdfdfd; width:70px; display: inline-block !important;}
#settings-grade-form-gradeint{padding-right: 25px;}
#settings-grade-slider {  -webkit-appearance: none; width: 100%; margin-top: 20px; margin-bottom: 30px; }
#settings-grade-slider::-webkit-slider-thumb {  -webkit-appearance: none;}
#settings-grade-slider:focus {  outline: none; }
#settings-grade-slider::-webkit-slider-thumb { -webkit-appearance: none; box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; height:25px; width:10px; 
																	border-radius: 2px; background: #fdfdfd; cursor: pointer; margin-top: -8px;  }
#settings-grade-slider::-moz-range-thumb {box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; height:25px; width:10px; border-radius:2px; background:#fdfdfd; cursor: pointer;}
#settings-grade-slider::-ms-thumb {box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; height:25px; width:10px; border-radius:2px; background:#fdfdfd; cursor:pointer;}

#settings-grade-slider::-webkit-slider-runnable-track {  width: 100%;  height: 10px;  cursor: pointer; background: #3071a9;  }
#settings-grade-slider:focus::-webkit-slider-runnable-track { background: #367ebd;}
#settings-grade-slider::-moz-range-track {  width: 100%;  height: 10px;  cursor: pointer; background: #3071a9;}
#settings-grade-slider::-ms-track {width: 100%;  height: 10px;  cursor: pointer;  background: transparent;  border-color: transparent;  border-width: 16px 0;  color: transparent;}
/*SETTINGS CONTENT end*/


/*PRE-SETTING CONTENT*/
#pre-setting-body-wrapper { background-color: #131313}
#body-wrapper{text-align:center;}
#body-main-title{color:#fff; font-family: Oswald, serif; font-size: 30px; text-align: center; letter-spacing: 28px; padding-bottom: 10px; }
#body-sub-title{color:#fff;	font-family: Source Sans Pro, serif; font-size: 18px; text-align: center; padding-bottom: 10px;}
#group{padding-left: 10px; padding-right: 10px;}
#group p{color:#000; font-family: Source Sans Pro, serif; font-size: 18px; }
#group div.settings{ display: none; }
#group div.current{ display: block; }

#form-main{padding: 30px 20px; background: #edeff1; border-radius: 10px; margin-top: 30px; margin-bottom: 50px;}
#form-grading-s1{text-align: center;}
#form-grading-s2{text-align: center;}
#form-grading-s1 input{background:#fdfdfd; margin-bottom: 10px; }
#form-grading-s2 input{background:#fdfdfd; margin-bottom: 10px; }
#module-title{margin-top: 20px;}
#module-form-input label{font-weight: normal;}
#module-button{font-family: 'Source Sans Pro', sans-serif; font-weight: bold; padding-bottom: 0;}
#module-button .badge{color: #d9534f; background: #fff; }

#group p{color:#000; font-family: 'Source Sans Pro', serif; font-size: 18px; }
div.blocksPerSub{padding-bottom:10px; margin-top:5px; margin-bottom: 5px;}
ul#textBox { padding-left: 0px; }
ul#textBox select{ width:250px; }

#textBox > div {margin-bottom: 5px; margin-right: 10px;}
select#numSub {display: block;	padding: 5px 7px 5px 7px; border-radius: 6px; margin-bottom: 25px; cursor: pointer; }
input[type="checkbox"]:focus, input[type="text"]:focus, select:focus {border-color: rgba(0,154,205,  0.8);	box-shadow: 0 1px 1px rgba(0,154,205, 0.075), 0 0 8px rgba(0,154,205,  0.6);	outline: 0 none; }
input[type="text"] { width: 300px; padding: 5px 7px 5px 7px; border-radius: 6px; border:solid 1px #A9A9A9; margin-bottom: 5px; }
input[type="checkbox"] { height:  15px; width: 15px; margin-bottom: 25px; cursor: pointer; }
div.module_collection > div > input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0; }

/*next and previous*/
#group div.settings{ display: none; }
#group div.current{ display: block; }
#settings>a#prev,#settings>a#next{cursor: pointer;background: #131313; padding: 10px; border-radius: 50%; text-decoration: none!important }
#settings a#next{float: right; color:white;}
#settings a#prev{float: left; color:white; display: none; }
label.module_label{width: 120px; }
input.module_perc{background: #fff; }

/*button*/
#button-wrapper>button#form-prev-btn, #button-wrapper>button#form-next-btn{cursor: pointer; background: none !important; padding-top: 10px; font-size: 40px;  }
#form-next-btn:focus, #form-prev-btn:focus, #form-submit-btn:focus{box-shadow: none;}
#form-next-btn{color:#2F2F2F; float: right; outline: none; border-radius: 50%; transition: color 500ms ease;}
#form-next-btn:hover{color: #5D5D5D;}
#form-prev-btn{color:#2F2F2F; float: left; display: none; outline:none; border-radius: 50%; transition: color 500ms ease }
#form-prev-btn:hover{color: #5D5D5D;}
#form-submit-btn{position: relative; z-index:999; color: green; float: right; outline: none; border-radius: 50%; margin-bottom:0; top: 75px; 
				font-size: 40px; background: none; transition: color 500ms ease}
#form-submit-btn:hover{color:#01C701}

/*slider*/
#pre-setting-grade-slider-wrapper{margin-top: 20px;}
#pre-setting-grade-slider {  -webkit-appearance: none; width: 100%; margin-top: 20px; margin-bottom: 30px; }
#pre-setting-grade-slider::-webkit-slider-thumb {  -webkit-appearance: none;}
#pre-setting-grade-slider:focus {  outline: none; }
#pre-setting-grade-slider::-webkit-slider-thumb { -webkit-appearance: none; box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; height:25px; width:10px; 
																	border-radius: 2px; background: #fdfdfd; cursor: pointer; margin-top: -8px;  }
#pre-setting-grade-slider::-moz-range-thumb {box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; height:25px; width:10px; border-radius:2px; background:#fdfdfd; cursor: pointer;}
#pre-setting-grade-slider::-ms-thumb {box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; height:25px; width:10px; border-radius:2px; background:#fdfdfd; cursor:pointer;}

#pre-setting-grade-slider::-webkit-slider-runnable-track {  width: 100%;  height: 10px;  cursor: pointer; background: #3071a9;  }
#pre-setting-grade-slider:focus::-webkit-slider-runnable-track { background: #367ebd;}
#pre-setting-grade-slider::-moz-range-track {  width: 100%;  height: 10px;  cursor: pointer; background: #3071a9;}
#pre-setting-grade-slider::-ms-track {width: 100%;  height: 10px;  cursor: pointer;  background: transparent;  border-color: transparent;  border-width: 16px 0;  color: transparent;}

#sliderVal{	display: block;	width: 40px;}
#sliderVal{margin-top: 20px; margin-left: 47%; }
#gradeInterval,#labelInterval{margin-top: 0px; margin-bottom: 40px; }
#gradeInterval{display: inline-block; width: 60px; }
#labelInterval{display:inline-block; margin-right: 10px; }
input[type=text].gradeBoxMin,input[type=text].gradeBoxMax{display: inline-block; margin-left: 5px; margin-right: 5px; width: 60px; }
div>p.to{margin-right: 5px; margin-left: 5px; }
div>label.rateLabel{display: inline-block; margin-right: 5px; }
/*PRE-SETTING CONTENT end*/



/*------------------MEDIA QUERIES-----------------*/


/* Large */
@media(min-width:1200px){}

/* Medium */
@media(min-width:992px) and (max-width:1199px){

}

/* Small */
@media(min-width:768px) and (max-width:991px){

	/*HEADER*/
	#header-details{display:block; text-align:center;}
	#header-details span{display:block;}
	#header-logo{float:none;}

	/*LOGIN CONTENT*/
	#login-form-wrapper{margin-bottom: 80px;}
	#login-title-wrapper{margin-top: 20px;}
	#login-title-main{font-size:48px;}
	#login-title-main, #login-title-sub{text-align: center;}

	/*SETTINGS CONTENT*/
	#settings-grade-form{padding-left:0px; display: block; text-align: center;}

	/*PRE-SETTINGS CONTENT*/
	#body-main-title{font-size: 28px; letter-spacing: 25px; }
	#body-sub-title{font-size: 16px; }
	#group p{font-size: 16px; }

	/*FOOTER*/
	#footer-details{display:block; text-align: center;}
	#footer-details span{display:block;}
	#footer-logo{display: none;}


}

@media (min-width:640px) and (max-width:767px){
	/*HEADER*/
	#header-details{display:block; text-align:center;}
	#header-details span{display:block; font-size:25px; }
	#header-logo{float:none;}	

	/*LOGIN CONTENT*/
	#login-form-wrapper{margin-bottom: 80px;}
	#login-title-wrapper{margin-top: 20px;}
	#login-title-main{font-size:48px;}
	#login-title-main, #login-title-sub{text-align: center;}

	/*SETTINGS CONTENT*/
	#settings-password-form{display:block; text-align: center; }
	#settings-grade-form{padding-left:0px; text-align:center;}
	#settings-password-form-button {width:100%;}
	#settings-password-form{padding-right: 0px;}

	/*PRE-SETTINGS CONTENT*/
	#body-main-title{font-size: 22px; letter-spacing: 20px; }
	#body-sub-title{font-size: 16px; }
	#group p{font-size: 16px; }
	#form-grading-s1{text-align: center; }
	#form-grading-s2{text-align: center; }
	.module_perc{width:90px;}

	/*FOOTER*/
	#footer-details{display:block; text-align: center;}
	#footer-logo{display: none;}
}


@media (min-width:440px) and (max-width:639px){
	/*HEADER*/
	#header-details{display:block; text-align:center;}
	#header-details span{display:block;font-size: 25px;}
	#header-logo{float:none;}
	#header-details-title{display:none;}
	#header-details-title-res{display:inline;}
	
	/*LOGIN CONTENT*/
	#login-form-wrapper{margin-bottom: 80px;}
	#login-title-wrapper{margin-top: 20px;}
	#login-title-main{font-size:40px;}
	#login-title-main, #login-title-sub{text-align: center;}

	/*NAVBAR*/
	#navbar-normal{display:none;}
	#navbar-res{display:block ;}

	/*SETTINGS CONTENT*/
	#settings-password-form{display:block; text-align: center; }
	#settings-grade-form{padding-left:0px; text-align:center;}
	#settings-password-form-button {width:100%;}
	#settings-password-form{padding-right: 0px;}

	/*PRESETTING CONTENT*/
	#form-module span{font-size: 13px;}
	#body-main-title{font-size: 22px; letter-spacing: 20px; }
	#body-sub-title{font-size: 16px; }
	#group p{font-size: 16px; }
	.module_perc{width:90px;}

	/*FOOTER*/
	#footer-details{display:block; text-align: center;}
	#footer-details span{display:block;}
	#footer-logo{display: none;}

}

@media(min-width: 320px) and (max-width: 439px){
	/*HEADER*/
	#header-details{display:block; text-align:center;}
	#header-details span{display:block;font-size: 22px;}
	#header-logo{display:none;}
	#header-details-title{display:none;}
	#header-details-title-res{display:inline;}

	/*FOOTER*/
	#footer-details{display:block; text-align: center;}
	#footer-details span{display:block; font-size:13px;}
	#footer-details p{font-size:12px;}
	#footer-logo{display: none;}

	/*LOGIN CONTENT*/
	#login-form-wrapper{margin-bottom: 80px;}
	#login-title-wrapper{margin-top: 20px;}
	#login-title-main{font-size:35px;}
	#login-title-sub{font-size:20px;}
	#login-title-main, #login-title-sub{text-align: center;}

	/*NAVBAR*/
	#navbar-res{display:block !important; font-size:20px;}
	#navbar-normal{display:none !important;}

	/*SETTINGS CONTENT*/
	#settings-password-form{display:block; text-align: center; }
	#settings-grade-form{padding-left:0px; text-align:center;}
	#settings-password-form-button {width:100%;}
	#settings-password-form{padding-right: 0px;}

	/*PRE-SETTINGS CONTENT*/
	#body-main-title{font-size: 22px; letter-spacing: 20px; }
	#body-sub-title{font-size: 14px; }
	#form-module span{font-size: 12px;}
	#form-module p#form-module-points{font-size: 14px;}
	#group p{font-size: 16px; }
	#form-grading-s1{text-align: center; }
	#form-grading-s2{text-align: center; }
	.module_perc{width:90px;}
	/*#form-prev-btn, #form-next-btn, #form-submit-btn{font-size: 30px;}*/


}